@import url(font.css);
@import url(media.css);

body {
    margin: 100px;
    background-color: var(--background);
    color: var(--text);
}

code {
    display: block;
    white-space: pre-wrap;
}

.accent {
    color: var(--accent);
}