@import url(main.css);

.accent {
    color: var(--accent);
}

h1 {
    margin: 0;
}

a {
    margin: 0px 10px;
    color: var(--accent);
    text-decoration: none;
    font-size: 20px;
}

.ant-dropdown-menu-title-content {
    color: black;
}